*{
  
  box-sizing: border-box;
}

body{
  background-color : #f5f6f8;
}
div{
 
  background-color : #f5f6f8;
}
.header-nav-list-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:0;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
} 

.main-container{
  text-align: center;
  /* width: 50%;
  left: 50%;
  top: 50%; */
  height: 500px;
  
}

.logo-img{
  width: 250px;
}

.search-container{
  position: relative;
  margin-top: 50px;
}

#search-input{
  width: 50%;
  height: 44px;
  border: 1px solid greenyellow;
  font-weight: bolder;
  color:#f5f6f8;
}

.menu-selection{
  display: flex;
  justify-content: center;
}

.menu-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  min-width: 350px;
}

.menu-item{
  width: 112px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-menu-wrapper{
  width:60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f2f3f5;
  font-size: 24;
  display: flex;
  justify-content: center;
  align-items: center;

}